<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>

    <link rel="stylesheet" href="styles/global.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/global.js" defer></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/main.ejs')%>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>

