<section class="chatroom">
  <header class="chatroom__header">
    <h1>Chat</h1>
  </header>

  <div class="chatroom__content">
    <div class="messages-wrapper">
      <ul id="messages" class="messages"></ul>
    </div>

    <form id="form" class="form" action="">
      <input
        id="input"
        class="form__input input input--rounded"
        type="text"
        autocomplete="off"
      />
      <button type="submit" class="form__submit button button--rounded">
        <span class="button__icon"><%- icon('paper-plane') %></span>
      </button>
    </form>
  </div>
</section>

